<div class="s01">
  <form class="search-form">
    <fieldset>
      <legend>Discover Your Future Home</legend>
    </fieldset>
    <div class="inner-form">
      <div class="input-field first-wrap">
        <input
          id="search"
          type="text"
          placeholder="What are you looking for?"
        />
      </div>
      <div class="input-field second-wrap">
        <input id="location" type="text" placeholder="location" />
      </div>
      <div class="input-field third-wrap">
        <button class="btn-search" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

{{! <---!--------------------------------- data injection ------------------------------!----> }}
<div class="" id="infos">
  <div class="row">
    <div class="col" id="map">
      1 of 2
    </div>

    <div class="col" id="right-section">
      <div class="row">
        {{#each property}}
          <div class="col-6">

            <article>
              <div class="card-top-img">
                <div>
                  <a href={{rdc_web_url}}>
                    <img
                      src={{photo}}
                      alt="house_pic"
                      style="width: 50%; hight: "
                    />
                  </a>
                </div>
              </div>
              <div class="card-info">
                <div class="card-header">
                  <span class="price">Price : {{price}}</span>
                </div>
                <div>
                  <span class="description">
                    {{beds}}
                    beds
                    {{baths}}
                    ba
                    {{sqft}}
                    sqft House for sale
                  </span>
                </div>
                <div>
                  <address class="address">{{address}}</address>
                </div>
                <div class="card-footer">JLML Real State</div>
              </div>
            </article>

          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>

<script src="../public/javascript/house-search.js"></script>